:root {
  --primary: #203e4f;
  --primary-dark: #142935;
  --secondary: #11c1a1;
  --secondary-dark: #157058;
  --gray: #9ca3af;
  --gray-dark: #3e4042;
  --light: #f3f4f6;
  --dark: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}
